#primaryNav li:hover ul {
  display:block;
}

#primaryNav {
  display:block;
  position: relative;
}

#primaryNav ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

#primaryNav li {
  position: relative;
  float: left;
  list-style-type: none;
}

#primaryNav ul :after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}


/*

nav ul {
    margin: 0;
    padding: 0;
}

nav li:hover ul {
    float: left;
    position: static;
    list-style-type: none;
}

nav li a {
    display: block;
}
*/

header{
  background-color: #bb1919;
}
.secondaryNav{
  visibility: hidden;
}
.primaryNav a :hover .secondaryNav {display: block;}
.secondaryNav :hover {background-color: grey;}

.primaryNav b {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 200px;
  z-index: 1;
}



header h1{
  color: white;
  text-transform: uppercase;
  padding: 10px;
  margin: 0;
}

.primaryNav li.active {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}
